/* Fonts */
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: local("HelveticaNeueCyr-Medium"), url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr-Roman"), url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: local("HelveticaNeueCyr-Light"), url("../fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

:root {
  --font-size: 16px;
  --line-height: 21px;
}

html {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

body, .article {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.3125rem;
}

h1, .h1 {
  font-size: 4.25rem;
  line-height: 5.25rem;
  margin-top: 1.3125rem;
  margin-bottom: 2.625rem;
}

h2, .h2 {
  font-size: 2.625rem;
  line-height: 2.625rem;
  margin-top: 1.3125rem;
  margin-bottom: 1.3125rem;
}

h3, .h3 {
  font-size: 1.625rem;
  line-height: 2.625rem;
  margin-top: 1.3125rem;
  margin-bottom: 0rem;
}

h4, .h4 {
  font-size: 1rem;
  line-height: 1.3125rem;
  margin-top: 1.3125rem;
  margin-bottom: 0rem;
}

h5, .h5 {
  font-size: 1rem;
  line-height: 1.3125rem;
  margin-top: 1.3125rem;
  margin-bottom: 0rem;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.3125rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

mark {
  background-color: #b8b7b7;
  color: black;
  font-family: monospace;
}

.font-light {
  font-weight: 300;
}

li {
  font-weight: 300;
}

body {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 300px);
  grid-column-gap: var(--line-height);
  justify-content: center;
  margin: var(--line-height);
  font-family: 'HelveticaNeueCyr', helvetica, arial, sans-serif;
  color: #323d47;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  background-color: #f5f5f5;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

aside {
  grid-column: 1 / 2;
  background-color: #3d3e3d66;
}

main {
  grid-column: 2 / 4;
}

.lang-switcher {
  display: none;
  /* TODO: return visibility  */
}

img {
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.2);
}
