/* Fonts */
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Medium.eot');
	src: local('HelveticaNeueCyr-Medium'),
		url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Roman.eot');
	src: local('HelveticaNeueCyr-Roman'),
		url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Light.eot');
	src: local('HelveticaNeueCyr-Light'),
		url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

:root {
  --font-size: 16px;
  --line-height: 21px;
  --blue: #1B619D;
  --red: #cd2a23;
  --grey: #cfccca;
  --black: #323d47;
}

html {
  font-size: var(--font-size);
  line-height: var(--line-height);
}
body, .article {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.3125rem;
}
h1, .h1 {
  font-size: 4.25rem;
  line-height: 5.25rem;
  margin-top: 0;
  margin-bottom: 2.625rem;
}
h2, .h2 {
  font-size: 2.625rem;
  line-height: 2.625rem;
  margin-top: 0;
  margin-bottom: 1.3125rem;
}
h3, .h3 {
  font-size: 1.625rem;
  line-height: 2.625rem;
  margin-top: 0;
  margin-bottom: 1.3125rem;
}
h4, .h4 {
  font-size: 1rem;
  line-height: 1.3125rem;
  margin-top: 0;
  margin-bottom: 0rem;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.3125rem;
  margin-top: 0;
  margin-bottom: 0;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.3125rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

mark {
  background-color: #afacaa;
  color: var(--black);
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1ch;
}

.font-light {
  font-weight: 300;
}

li {
  font-weight: 300;
}

body {
  font-family: 'HelveticaNeueCyr', helvetica, arial, sans-serif;
  color: var(--black);
  text-rendering: optimizeLegibility;
  font-weight: 400;
  background-color: var(--grey);
  font-style: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: calc(var(--line-height) * 2) var(--line-height);
  padding: 2.625rem 0;
  border: 6px solid var(--blue);
}

.title {
  grid-column: 1 / 6;
}

section > h3 {
  border-bottom: 3px solid var(--blue);
}

.contacts {
  grid-column: 5 / 7;
  display: grid;
  grid-gap: var(--line-height);
  grid-template-columns: 1fr 1fr;

  > p {
    white-space: nowrap;
  }
}

.skills {
  grid-column: 3 / 5;
}

.education {
  grid-column: 5 / 7;
}

.experience {
  grid-column: 1 / 5;
  display: grid;
  grid-gap: var(--line-height);
  grid-template-columns: repeat(4, 1fr);
}

.experience .date {
  grid-column: 1 / 2;
  justify-self: end;
}

.experience h3 {
  grid-column: 2 / 4;
}

.experience p, .experience ul, .experience h5 {
  grid-column: 3 / 5;
  margin-bottom: 0;
}

.experience h5:not(:first-of-type) {
  margin-top: calc(var(--line-height) * 2);
}