[submodule "projects/math"]
    path = projects/math
    url = https://github.com/calmosowl/math.git
[submodule "projects/odometer"]
	path = projects/odometer
	url = git@github.com:calmosowl/odometer.git
