.o-main-layout {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: var(--g-main-layout-padding);

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 37.5rem minmax(37.5rem, 75ch);
  }
}
